.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.video {
    border-radius: 20px;
    width: 480px;
    height: 360px;
    background-color: #333;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.controls {
    margin-top: 20px;
}

.btn {
    padding: 4px 16px;
    font-size: 1.4rem;
    margin: 0 8px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgb(39, 180, 39);
}


.btn-grad {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%)
}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white; 
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


.main.touched {
    background-color: red;
}

.tutor {
    color: #fff;
}

.control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}